$primary-black : #111;
$primary-gray: #555;
$primary-white: #ffffff;

$sec-darkblack : #000000;
$sec-darkblue: #0065ad;
$sec-mercury: #e1e1e1;
$sec-alabaster: #fafafa;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;
