@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
.stack{
    height: 100vh;
    width: 100vw;
    margin: 2rem 0;

    &__wrapper {
        height: 100%;
        @extend .wrapper;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    &__icons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @include mobile{
            gap: 2rem;
            row-gap: 5rem;
            padding: 1rem;
        }
        @include tablet{
            gap:3rem;
            row-gap: 4rem;
            padding: 0rem;
        }

    }
    &__icon{

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 1.5rem;
        position: relative;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        @include mobile{
            height: 80px;
            width: 80px;
        }
        @include tablet{
            height: 150px;
            width: 150px;
        }
        & .icon-img{
            height: 70px;
            width: 70px;
            @include mobile{
                height: 40px;
                width: 40px;
            }
            @include tablet{
                height: 70px;
                width: 70px;
            }
        }
    }
}

.outline {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 10px solid black;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }